# Firebase Web Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBuMqJ8LkwWaIPjQqsKAiH49r7SvvDCf0A
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=queens-bakery-d15db.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=queens-bakery-d15db
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=queens-bakery-d15db.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=936359327670
NEXT_PUBLIC_FIREBASE_APP_ID=1:936359327670:web:60e086fd630f6276feb317
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-91W15SS6NJ

# Cloudinary Storage Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dycqf6xbh
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=queens-bakery
CLOUDINARY_API_KEY=555416642564235
CLOUDINARY_API_SECRET=YXbGtVjUo2Asavbg6U8wpKvOztc
